<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313283597917-9qfo3n1m9u1cqfp8cj1qtsemp4j5rsam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313283597917-9qfo3n1m9u1cqfp8cj1qtsemp4j5rsam</string>
	<key>API_KEY</key>
	<string>AIzaSyDg63dmkKFF4PJyruHi6nGKAze9bR9dNzI</string>
	<key>GCM_SENDER_ID</key>
	<string>313283597917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFeedback</string>
	<key>PROJECT_ID</key>
	<string>feedback-form-84d9c</string>
	<key>STORAGE_BUCKET</key>
	<string>feedback-form-84d9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313283597917:ios:c645f0a04be6bdfca71fb4</string>
</dict>
</plist>